page-home {
    .card-meter{
        border-radius: 2.5em;
        border: solid 0.1em #FFFFFF;
        width: 20em;
        height: 10em;
    }

    .graphArea{
        height:14em;
        position:relative;
        box-sizing:border-box;
    }

    .speedtest {
        background-image: url("/assets/imgs/gradient.png");
		background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .graphName{
        position:absolute;
        top:0.1em;
        left: 5em;
        width:100%;
        font-size:1.4em;
        z-index:9;
    }

    .meterText{
        position: absolute;
        bottom: 2.55em;
        left: 3em;
        width: 100%;
        font-size: 2.5em;
        z-index: 9;
    }
}
